USE [MixueProject]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/25/2022 12:01:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accountID] [int] IDENTITY(1,1) NOT NULL,
	[roleID] [int] NOT NULL,
	[username] [varchar](30) NOT NULL,
	[u_password] [varchar](30) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[a_address] [nvarchar](max) NOT NULL,
 CONSTRAINT [pk_accountID] PRIMARY KEY CLUSTERED 
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/25/2022 12:01:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[cateID] [int] IDENTITY(1,1) NOT NULL,
	[cateName] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_cateID] PRIMARY KEY CLUSTERED 
(
	[cateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/25/2022 12:01:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [date] NOT NULL,
 CONSTRAINT [pk_orderID] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 7/25/2022 12:01:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[detailOrderID] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [pk_detailOrderID] PRIMARY KEY CLUSTERED 
(
	[detailOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/25/2022 12:01:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](100) NOT NULL,
	[productPrice] [float] NOT NULL,
	[cateID] [int] NOT NULL,
	[discount] [float] NULL,
 CONSTRAINT [pk_productID] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleAccount]    Script Date: 7/25/2022 12:01:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAccount](
	[roleID] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [varchar](30) NOT NULL,
 CONSTRAINT [pk_roleID] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([accountID], [roleID], [username], [u_password], [fullname], [phone], [email], [a_address]) VALUES (1, 1, N'admin', N'123', N'Admin', N'0999999999', N'admibn@gmail.com', N'Every where')
INSERT [dbo].[Account] ([accountID], [roleID], [username], [u_password], [fullname], [phone], [email], [a_address]) VALUES (2, 2, N'hpdong', N'123', N'Ho Phuong Dong', N'098765432', N'hophuongdong@gmail.com', N'Bac Ninh')
INSERT [dbo].[Account] ([accountID], [roleID], [username], [u_password], [fullname], [phone], [email], [a_address]) VALUES (3, 2, N'ndphu', N'123', N'Nguyen Dinh Phu', N'098765432', N'nguyendinhphu@gmail.com', N'Ha Noi')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([cateID], [cateName]) VALUES (1, N'Trà hoa quả')
INSERT [dbo].[Category] ([cateID], [cateName]) VALUES (2, N'Ice-Cream & Tea')
INSERT [dbo].[Category] ([cateID], [cateName]) VALUES (3, N'Trà sữa')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([orderID], [orderDate]) VALUES (1, CAST(N'2022-07-01' AS Date))
INSERT [dbo].[Order] ([orderID], [orderDate]) VALUES (2, CAST(N'2022-07-02' AS Date))
INSERT [dbo].[Order] ([orderID], [orderDate]) VALUES (3, CAST(N'2022-07-05' AS Date))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([detailOrderID], [orderID], [productID], [price], [quantity]) VALUES (1, 1, 1, 30, 5)
INSERT [dbo].[OrderDetail] ([detailOrderID], [orderID], [productID], [price], [quantity]) VALUES (2, 2, 6, 25, 3)
INSERT [dbo].[OrderDetail] ([detailOrderID], [orderID], [productID], [price], [quantity]) VALUES (3, 2, 9, 30, 2)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([productID], [productName], [productPrice], [cateID], [discount]) VALUES (1, N'Chanh leo bách hương', 35, 1, 0)
INSERT [dbo].[Product] ([productID], [productName], [productPrice], [cateID], [discount]) VALUES (2, N'Dương chi cam lộ', 35, 1, 0)
INSERT [dbo].[Product] ([productID], [productName], [productPrice], [cateID], [discount]) VALUES (3, N'Trà xanh chanh', 22, 1, 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleAccount] ON 

INSERT [dbo].[RoleAccount] ([roleID], [roleName]) VALUES (1, N'Manager')
INSERT [dbo].[RoleAccount] ([roleID], [roleName]) VALUES (2, N'Staff')
SET IDENTITY_INSERT [dbo].[RoleAccount] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [fk_account_roleID] FOREIGN KEY([roleID])
REFERENCES [dbo].[RoleAccount] ([roleID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [fk_account_roleID]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [fk_OrderDetail_orderID] FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([orderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [fk_OrderDetail_orderID]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [fk_OrderDetail_productID] FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [fk_OrderDetail_productID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [fk_product_cateID] FOREIGN KEY([cateID])
REFERENCES [dbo].[Category] ([cateID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [fk_product_cateID]
GO
